<a href="https://colab.research.google.com/github/AyberkDnmez/Python-Programming-for-Data-Science/blob/main/Python_Al%C4%B1%C5%9Ft%C4%B1rmalar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Görev 1

# Verilen değerlerin veri yapılarını inceleyiniz.

x = 8

type(x)

int

In [2]:
y = 3.2

type(y)

float

In [3]:
z = 8j + 18

type(z)

complex

In [4]:
a = "Hello World"

type(a)

str

In [5]:
b = True

type(b)

bool

In [6]:
c = 23 < 22

type(c)

bool

In [7]:
l = [1, 2, 3, 4]

type(l)

list

In [8]:
d = {"Name": "Jake",
     "Age": 27,
     "Adress": "Downtown"}

type(d)

dict

In [10]:
t = ("Machine Learning", "Data Science")

type(t)

tuple

In [12]:
s = {"Python", "Machine Learning", "Data Science"}

type(s)

set

In [26]:
# Görev 2 : Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

text = "The goal is to turn data into information, and information into insight."

A = text.upper().split()

print(A)

['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION,', 'AND', 'INFORMATION', 'INTO', 'INSIGHT.']

In [28]:
# Görev 2 : Benim çözümüm ve çıkarılacak sonuç

text = "The goal is to turn data into information, and information into insight."

A = text.upper()

print(A)

B = A.split()

print(B)

# Çıkarılacak sonuç : Aynı anda birden çok metod tek satırda uygulanabilir.

# Sonuçları alt alta görmemek için print fonksiyonunu kullanmak gerekir.

THE GOAL IS TO TURN DATA INTO INFORMATION, AND INFORMATION INTO INSIGHT.
['THE', 'GOAL', 'IS', 'TO', 'TURN', 'DATA', 'INTO', 'INFORMATION,', 'AND', 'INFORMATION', 'INTO', 'INSIGHT.']

In [54]:
# Görev 3 : Verilen listeye aşağıdaki adımları uygulayınız.

lst = ["D", "A", "T", "A", "S", "C", "I", "E", "N", "C", "E"]

# 1 : Listenin eleman sayısına bakınız.

len(lst)

11

In [33]:
# 2 : Sıfırıncı ve onuncu indeksteki elemanları çağırınız.

print(lst[0])

print(lst[10])

D
E

In [34]:
# 3 : Verilen liste üzerinden ["D", "A","T", "A"] listesi oluşturunuz.

list = lst[0:4]

print(list)

['D', 'A', 'T', 'A']

In [55]:
# 4 : Sekizinci indeksteki elemanı siliniz.

del(lst[8])

print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [56]:
# 5 : Yeni bir eleman ekleyiniz.

# Insert metodu kullanılır.

lst.insert(8, "M")

print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'M', 'C', 'E']

In [57]:
# 6 : Sekizinci indekse "N" elemanını tekrar ekleyiniz.

lst.insert(8, "N")

print(lst)

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'M', 'C', 'E']

In [77]:
# Görev 4 : Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

dict = {"Christian": ["America", 18],
        "Daisy": ["England", 12],
        "Antonio": ["Spain", 22],
        "Dante": ["Italy", 25]}

# Key değerlere erişiniz.

dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [64]:
# Valuelara erişiniz

dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [78]:
# Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.

dict["Daisy"] = ["England", 13]

dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [80]:
# Key değeri Ahmet value değeri [Turkey, 24] olan yeni bir değer ekleyiniz.

dict["Ahmet"] = ["Turkey", 24]

dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [81]:
# Antonio'yu dictionary'den siliniz.

del dict['Antonio']

dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [142]:
# Görev 5 : Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atayan ve bu listeleri return eden bir fonksiyon yazınız.

L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

A = []

B = []

def evenorodd(list):
  for numbers in list:
    if numbers % 2 == 0:
      A.append(numbers)
    else:
      B.append(numbers)
  return A, B

evenorodd(L)

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])

In [157]:
# Görev 6 : Aşağıda verilen listede mühendislik ve tıp fakültelerinde dereceye giren öğrenci isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci

# mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. Enumerate kullanarak öğrenci derecelerini

# fakülte özelinde yazdırınız.

ogrenciler = ["Ali", "Veli", "Ayşe", "Zeynep", "Talat", "Ece"]

for i, ogrenci in enumerate(ogrenciler):
  if i < 3:
    print("Muhendislik Fakultesi",i+1, "." , "ogrenci:", ogrenci)
  else:
    print("Tıp Fakultesi", i-2, ".", "ogrenci:", ogrenci)

Muhendislik Fakultesi 1 . ogrenci: Ali
Muhendislik Fakultesi 2 . ogrenci: Veli
Muhendislik Fakultesi 3 . ogrenci: Ayşe
Tıp Fakultesi 1 . ogrenci: Zeynep
Tıp Fakultesi 2 . ogrenci: Talat
Tıp Fakultesi 3 . ogrenci: Ece

In [168]:
# Görev 7 : Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders

# bilgilerini bastırınız.

ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]

for ders, kr, kon in zip(ders_kodu, kredi, kontenjan):
    print("Kredisi", kr, "olan", ders, "kodlu dersin kontenjanı", kon, "kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [179]:
# Görev 8 : Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1.küme 2.kümeyi kapsıyor ise ortak elemanlarını eğer kapsamıyor ise 2.kümenin

# 1.kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python","miuul"])

def setfunction(set1,set2):
  if set1.isdisjoint(set2):
    print(set1.intersection(set2))
  else:
    print(set2.difference(set1))

setfunction(kume1, kume2)

{'miuul', 'qcut', 'function', 'lambda'}